extend ../_includes/layout.pug
block init
  - const pageID = 2
block content 
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam inventore magnam! Odio officia nemo corporis tempora modi officiis commodi laborum sit, incidunt, ducimus in provident, itaque iusto accusamus omnis?