extend _includes/layout.pug
block init
  - const pageID = 1
block content
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus asperiores consequatur id ratione voluptates, nihil officia corrupti reprehenderit vitae, praesentium quibusdam quidem similique quaerat voluptatem, optio enim eius placeat magni.
