extend _includes/layout.pug
block init
  - const pageID = 3
block content 
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, dolor mollitia deserunt porro nobis, sapiente tempore sed harum doloremque cumque ea molestias praesentium facilis! Officia aut repellat voluptates voluptate quis?