extend _includes/layout.pug
block init
  - const pageID = 0
block content
  - let colors = [`Red`,'Orange','Yellow','Green ','Blue','Indigo','Violet'];
    ul
      each color in colors
        li= color 
    button(onclick="sayHello(event)") Привет!!
