body
    font-size xx-large

nav ul
    list-style none
    display flex
    padding-top 0
    justify-content space-evenly

  span, a
   padding 0.5em 

.active 
    background-color yellow


for n in 0..6
    li:nth-child({n+1})  
        color: hsl(n*360deg/7,100%,50%)